doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title slush angular basic
    meta(name='viewport', content='width=device-width')
    // Styles
    link(rel='stylesheet', type='text/css', href='assets/css/vendors.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')
  body
    ng-view  
    // JS
    script(src='scripts/vendors.min.js')
    script(src='scripts/app.min.js')
