doctype html
html(lang="en" ng-app="app")
  head
    title slush angular basic
    link(rel="stylesheet", href="assets/css/main.min.css")


  body(ng-controller="appController as vm")
    ng-view
        |Ready for develop!

    script(src="bower_components/angularjs/angular.min.js")
    script(src="bower_components/angular-loader/angular-loader.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    script(src="assets/js/main.min.js")    