<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>slush angular basic</title>  
	<link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body>

	<ng-view><ng-view>


	<script src="bower_components/angularjs/angular.min.js"></script>
	<script src="bower_components/angular-loader/angular-loader.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="assets/js/main.min.js"></script>  
     
</body>
</html> 